.allContainer {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
  overflow-x: auto;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.input {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #6a9132;
}

.input:first-child{
  width: 40%;
}

.input:focus {
  border: 2px solid #4f7817;
  outline: none;
}

.text {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #6a9132;
}

.verifyButton {
  background-color: #6a9132;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.verifyButton:disabled {
  background-color: #b0b0b0;
  cursor: not-allowed;
}

.successMessage {
  margin-top: 20px;
  font-size: 16px;
  color: green;
  font-weight: bold;
}

.backButton {
  width: 100%;
  display: flex;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #6a9132;
}

.title {
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 28px;
  font-weight: bold;
  color: #6a9132;
  text-align: center;
}

.email{
    margin-left: 5px;
    margin-bottom: 15px;
}

.emailContainer{
  display: flex;
  align-items: center;
  gap: 10px;
}