.commentSection {
  margin-top: 30px;
  padding: 15px 0;
  border-top: 1px solid #6a9132;
}

.commentSection h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.commentForm {
  display: flex;
  gap: 10px;
}

.commentInput {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #6a9132;
  border-radius: 5px;
}

.commentButton {
  background-color: #6a9132;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.commentList {
  margin-top: 15px;
}

.noComments {
  color: gray;
  font-size: 14px;
}

.commentItem {
  padding: 10px;
  border-bottom: 1px solid #a8c686;
  font-size: 14px;
}

.commentTime {
  font-size: 12px;
  color: gray;
  display: block;
  margin-top: 5px;
}

.nameText{
  font-weight: bold;
  margin-bottom: 5px;
}

/* 댓글 옵션 버튼 */
.commentMenuContainer {
  position: relative;
  display: inline-block;
}

.commentMenuButton {
  background: none;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: #6a9132;
  margin-left: 10px;
}

/* 토글 메뉴 */
.commentMenu {
  position: absolute;
  top: 25px;
  right: 0;
  width: 120px;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;

  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out, transform 0.3s ease-out;
}

.commentMenuOpen {
  max-height: 50px;
  opacity: 1;
  transform: translateY(0);
}

.commentMenu li {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: #4f7817;
  font-weight: bold;
  list-style: none;
}

.commentMenu li:hover {
  background: #f5f5f5;
}

.commentHeader{
  display: flex;
  justify-content: space-between;
}
