.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 한 줄에 2개의 카드 */
  gap: 35px;
  padding: 20px 0;
  height: 100%;
  overflow-x: hidden;
  grid-auto-rows: auto; /* 행의 높이를 자동으로 설정 */
  grid-template-rows: auto; /* 행의 높이를 자동으로 설정 */
}

.container > :nth-child(odd) {
  grid-column: span 1; /* 홀수 번째 아이템은 한 칸만 차지 */
}

.container::-webkit-scrollbar {
  width: 0px; /* 수평/수직 스크롤바 숨기기 */
  height: 0px;
}

.memberCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.iconCircle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #a8c686;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.icon {
  color: white;
  font-size: 30px;
}

.year {
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #6a9132;
}

.name {
  font-size: 13px;
  color: #555;
}

@media (max-width: 380px) {
  .memberCard {
    width: 60px;
  }
}

