.inputContainer {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 3% 5%;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #6a9132;
}

.input:focus {
  border: 2px solid #4f7817;
  outline: none;
}

.text {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #6a9132;
}
